doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		link(rel='stylesheet', type='text/css', href='stylesheets/normalize.css')
		link(rel='stylesheet', type='text/css', href='stylesheets/index.css')
		title Image Abstracter
	body
		h1 Image Abstracter API: FCC Project
		p Use this service to search for images using Google's API.
		h3 Instructions:
		ul
			li Use #[code https://image-abstracter-fcc2089.herokuapp.com/searches/new/&lt;your_search&gt;] to search for images
			li Use #[code https://image-abstracter-fcc2089.herokuapp.com/searches/latest] to see the last 10 image searches
		div.footer
			span.developer
				small Developed by Zachary Clemans
			span.copyright
				small Copyright &copy; 2016 Zachary Clemans